body {
  color: aliceblue;
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 4px black;
}
.form {
  display: flex;
  flex-flow: column;
}
.form__section {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0.2em 0.2em 1em 0px #0d0628;
  background-color: #052939;
  margin: 25px auto 25px auto;
}
.form__question {
  margin: 10px 10px 25px 10px;
  padding: 10px 25px;
  font-family: Dancing Script;
  font-size: 38px;
  border-radius: 10px;
  text-align: center;
  border: solid 3px white;
}
.form__answers {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.form__a12 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}
.form__a34 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}
.form__a1,
.form__a2,
.form__a3,
.form__a4 {
  margin: 10px;
  font-family: Oswald;
  font-size: 30px;
  border-radius: 10px;
  width: 300px;
  height: 120px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.7s;
}

.radio {
  height: 120px;
  width: 300px;
  position: absolute;
  left: -3px;
  bottom: 0px;
  right: 15px;
  opacity: 0%;
  cursor: pointer;
}
input[type="radio"]:checked + label {
  color: #052939;
  text-shadow: 0px 0px 4px white;
  font-size: 40px;
  text-align: center;
}

.form__a1:hover,
.form__a2:hover,
.form__a3:hover,
.form__a4:hover {
  background-color: #1088bb;
  box-shadow: 0em 0em 0.3em 0px #ffe8c8;
}

.form__a1 {
  background-color: #fca17d;
}

.form__a2 {
  background-color: #da627d;
}

.form__a3 {
  background-color: #9a348e;
}

.form__a4 {
  background-color: #f9dbbd;
}

#boton {
  margin: 5px auto;
  border-radius: 15px;
  background-color: #052939;
  color: white;
  width: 40%;
  border: 3px solid white;
  box-shadow: 0.2em 0.2em 1em 0px #0d0628;
  padding: 10px;
  font-family: Oswald;
  font-size: 20px;
  transition: 00.5s;
}

#boton:hover {
  box-shadow: 0.1em 0.1em 1em 0px #efa032;
  transform: scale(1.03);
  background-color: #1088bb;
}

/* ALERTAS */

#alertNoCheck {
  margin: 150px;
  display: none;
  padding: 70px;
  border: 2px solid #efa032;
  background-color: #052939d5;
  border-radius: 15px;
  font-family: oswald;
  text-align: justify;
  text-align: center;
  font-size: 40px;
  color: white;
  box-shadow: 0em 0em 1em 0px #052939;
  position: fixed;
  z-index: 10;
}
#alertOk1,
#alertOk2,
#alertOk3,
#alertOk4,
#alertOk5,
#alertOk6,
#alertOk7,
#alertOk8,
#alertOk9,
#alertOk10,
#alertOk11 {
  margin-top: 25px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: 3px solid #efa032;
  background-color: #052939e5;
  border-radius: 15px;
  font-family: oswald;
  text-align: justify;
  text-align: center;
  position: fixed;
  z-index: 10;
  box-shadow: 0em 0em 1em 0px #052939;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11 {
  box-shadow: 0em 0em 0.5em 0px #bfbcce;
  border: 2px solid #efa032;
  border-radius: 15px;
  width: 300px;
  margin: 25px;
  text-align: center;
}
.frase1,
.frase2,
.frase2,
.frase4,
.frase5,
.frase6,
.frase7,
.frase8,
.frase9,
.frase10,
.frase11 {
  margin: 0px 20px 20px;
  font-family: oswald;
  text-align: justify;
  text-align: center;
  display: block;
  font-size: 25px;
  color: white;
  text-shadow: 0em 0em 1em 0px #052939;
}
.botones {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.botones > button {
  margin: 13px;
  font-size: 20px;
  font-family: oswald;
  border-radius: 10px;
  width: 200px;
  border: 3px solid #efa032;
  cursor: pointer;
  box-shadow: 0em 0em 0.2em 0px #bfbcce;
}
.botones > button > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #052939;
}

.botones > button > a:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.botones > button:hover {
  box-shadow: 0em 0em 0.5em 0px #bfbcce;
  background-color: #efa032;
  border: 2px solid #bfbcce;
  color: #bfbcce;
}
/* PÄGINA DE INDEX */

.contenido {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99%;
  border: solid;
  border-radius: 15px;
  background-color: #052939;
  box-shadow: 0em 0em 1em 0px #052939;
}

.contenido > #btn {
  border: #efa032 solid 4px;
  border-radius: 15px;
  transition: all 0.5s ease-out;
  font-family: oswald;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto 30px;
}
#btn > a {
  padding: 5px 10px;
  text-decoration: none;
  color: #052939;
  font-size: 30px;
}
.contenido > #btn:hover {
  transform: scale(1.05);
  filter: sepia(1);
}

.contenido > #titulo {
  margin: 30px 30px 25px 0px;
  font-size: 70px;
  text-align: center;
  color: #fcedd8;
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b,
    35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b, 45px 45px 0px #c11a2b;
}

#inicio {
  font-family: Dancing script;
  text-align: center;
  color: aliceblue;
  font-size: 40px;
  padding: 0 40px;
}
#inicio > span {
  font-size: 75px;
  letter-spacing: 0.1em;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #c11a2b, 20px 20px #000000;
}

.contenido > p {
  margin: 20px;
  color: #0d0628;
  font-family: Dancing script;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  padding: 5px;
}

@media screen and (min-width: 760px) {
  .contenido {
    width: 70%;
    margin-top: 25px;
  }
  .contenido > #titulo {
    margin: 30px 30px 15px 0px;
    font-size: 90px;
    text-align: center;
    color: #fcedd8;
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032,
      15px 15px 0px #46b59b, 20px 20px 0px #017e7f, 25px 25px 0px #052939,
      30px 30px 0px #c11a2b, 35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b,
      45px 45px 0px #c11a2b;
  }
  .form__a34,
  .form__a12 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9,
  .img10,
  .img11 {
    width: 400px;
    margin: 30px 60px 15px 60px;
  }
  #boton {
    width: 220px;
  }

  #boton:hover {
    width: 220px;
  }
  .botones {
    flex-direction: row;
  }
  #alertOk1,
  #alertOk2,
  #alertOk3,
  #alertOk4,
  #alertOk5,
  #alertOk6,
  #alertOk7,
  #alertOk8,
  #alertOk9,
  #alertOk10,
  #alertOk11 {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .contenido {
    margin-top: 50px;
  }
}
